Repository mglants/gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/subterra, cluster/berries, cluster/all

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/subterra:
  - changed-files:
      - any-glob-to-any-file: kubernetes/subterra/**/*
cluster/berries:
  - changed-files:
      - any-glob-to-any-file: kubernetes/berries/**/*
cluster/all:
  - changed-files:
      - any-glob-to-any-file: kubernetes/_global/**/*

fix: protocol
  kubernetes/subterra/apps/apps/any-sync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: redis image
  kubernetes/subterra/apps/apps/any-sync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: mongodb resources
  kubernetes/subterra/apps/apps/any-sync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: naming of controllers
  kubernetes/subterra/apps/apps/any-sync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: mongodb params
  kubernetes/subterra/apps/apps/any-sync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: mounts
  kubernetes/subterra/apps/apps/any-sync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: mongodb for any-sync going into bitnami chart
  kubernetes/subterra/apps/apps/any-sync/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/any-sync/app/pvc.yaml
  kubernetes/subterra/apps/apps/any-sync/ks.yaml
  kubernetes/subterra/apps/apps/any-sync/mongodb/helmrelease.yaml
  kubernetes/subterra/apps/apps/any-sync/mongodb/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

fix: chart namesapce
  kubernetes/subterra/apps/apps/any-sync/mongodb/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: fubitnami
  kubernetes/subterra/apps/apps/any-sync/mongodb/helmrelease.yaml
  kubernetes/subterra/flux/repositories/oci/bitnami.yaml
  kubernetes/subterra/flux/repositories/oci/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

fix: bitnami
  kubernetes/_global/flux/repositories/helm/bitnami-charts.yaml
  kubernetes/subterra/flux/repositories/oci/bitnami.yaml
  kubernetes/subterra/flux/repositories/oci/kustomization.yaml
Labels: area/kubernetes, cluster/subterra, cluster/all

fix: helmrelease
  kubernetes/subterra/apps/apps/any-sync/mongodb/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: charts
  kubernetes/subterra/apps/apps/any-sync/mongodb/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: added aws key
  kubernetes/subterra/apps/apps/any-sync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: paths
  kubernetes/subterra/apps/apps/any-sync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: spegel cleanup
  kubernetes/_global/flux/repositories/helm/spegel-charts.yaml
  kubernetes/berries/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/berries/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/berries/apps/kube-system/spegel/app/kustomizeconfig.yaml
  kubernetes/berries/apps/kube-system/spegel/app/values.yaml
  kubernetes/berries/apps/kube-system/spegel/ks.yaml
Labels: area/kubernetes, cluster/berries, cluster/all

feat: redone secrets for any-sync
  kubernetes/subterra/apps/apps/any-sync/app/externalsecret.yaml
  kubernetes/subterra/apps/apps/any-sync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: secrets
  kubernetes/subterra/apps/apps/any-sync/app/externalsecret.yaml
Labels: area/kubernetes, cluster/subterra

fix: mongodb param
  kubernetes/subterra/apps/apps/any-sync/app/externalsecret.yaml
Labels: area/kubernetes, cluster/subterra

fix: frigate config
  kubernetes/berries/apps/smarthome/frigate/app/externalsecret.yaml
Labels: area/kubernetes, cluster/berries

fix: cloud tls
  kubernetes/subterra/apps/apps/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: nextcloud upgrade
  kubernetes/subterra/apps/apps/nextcloud/app/helmrelease.yaml
  kubernetes/subterra/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: added marzban
  kubernetes/subterra/apps/apps/kustomization.yaml
  kubernetes/subterra/apps/apps/marzban/app/externalsecret.yaml
  kubernetes/subterra/apps/apps/marzban/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/marzban/app/kustomization.yaml
  kubernetes/subterra/apps/apps/marzban/app/pvc.yaml
  kubernetes/subterra/apps/apps/marzban/app/volsync.yaml
  kubernetes/subterra/apps/apps/marzban/ks.yaml
Labels: area/kubernetes, cluster/subterra

fix: host marzban
  kubernetes/subterra/apps/apps/marzban/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: marzban
  kubernetes/subterra/apps/apps/marzban/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: certificate name
  kubernetes/subterra/apps/apps/marzban/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: marzban ingress
  kubernetes/subterra/apps/apps/marzban/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: marzban whitelist
  kubernetes/subterra/apps/apps/marzban/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: added cert to emqx
  kubernetes/berries/apps/smarthome/emqx/app/helmrelease.yaml
Labels: area/kubernetes, cluster/berries

fix: xray_config path for marzban
  kubernetes/subterra/apps/apps/marzban/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: added telegram support
  kubernetes/subterra/apps/apps/marzban/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: marzban allow pub
  kubernetes/subterra/apps/apps/marzban/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: marzban allow sub
  kubernetes/subterra/apps/apps/marzban/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: marzban via vpn
  kubernetes/subterra/apps/apps/marzban/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: enable route gateway
  kubernetes/subterra/apps/apps/namespace.yaml
Labels: area/kubernetes, cluster/subterra

feat: allow priveleged
  kubernetes/subterra/apps/apps/namespace.yaml
Labels: area/kubernetes, cluster/subterra

feat: update pod-gateway
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: remove pod annotations
  kubernetes/subterra/apps/apps/marzban/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: try amnezia
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: secret
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: path
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra
