Repository mglants/gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/subterra, cluster/berries, cluster/all

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/subterra:
  - changed-files:
      - any-glob-to-any-file: kubernetes/subterra/**/*
cluster/berries:
  - changed-files:
      - any-glob-to-any-file: kubernetes/berries/**/*
cluster/all:
  - changed-files:
      - any-glob-to-any-file: kubernetes/_global/**/*

feat: upgrade s3
  kubernetes/subterra/apps/apps/mailu/app/postgresCluster.yaml
  kubernetes/subterra/apps/apps/netbox/app/postgresCluster.yaml
  kubernetes/subterra/apps/apps/nextcloud/app/postgresCluster.yaml
  kubernetes/subterra/apps/apps/ocis/app/externalsecret.yaml
  kubernetes/subterra/apps/apps/ocis/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/vaultwarden/app/postgresCluster.yaml
  kubernetes/subterra/apps/apps/zipline/app/externalsecret.yaml
  kubernetes/subterra/apps/apps/zipline/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/zipline/app/postgresCluster.yaml
  kubernetes/subterra/apps/backup/talos-backup/app/cronjob.yaml
  kubernetes/subterra/apps/backup/talos-backup/app/externalsecret.yaml
  kubernetes/subterra/apps/infra/authentik/app/postgresCluster.yaml
  kubernetes/subterra/apps/matrix/synapse/app/postgresCluster.yaml
  kubernetes/subterra/apps/media/piped/app/postgresCluster.yaml
  kubernetes/subterra/apps/monitoring/loki/app/externalsecret.yaml
  kubernetes/subterra/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/subterra/apps/security/external-secrets/cluster-secrets/pgo-s3-creds.yaml
  kubernetes/subterra/apps/smarthome/homeassistant/app/postgresCluster.yaml
Labels: area/kubernetes, cluster/subterra

fix: add ks
  kubernetes/subterra/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

fix: ocis domain
  kubernetes/subterra/apps/apps/ocis/app/config/csp.yaml
  kubernetes/subterra/apps/apps/ocis/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/ocis/app/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

fix: ocis
  kubernetes/subterra/apps/apps/ocis/app/config/csp.yaml
Labels: area/kubernetes, cluster/subterra

fix: domain for ocis file
  kubernetes/subterra/apps/apps/ocis/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: move to adguard
  kubernetes/berries/apps/networking/externaldns/internal/externalsecret.yaml
  kubernetes/berries/apps/networking/externaldns/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/berries

fix: debug
  kubernetes/berries/apps/networking/externaldns/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/berries

fix: health
  kubernetes/berries/apps/networking/externaldns/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/berries

feat: switch to bind
  kubernetes/subterra/apps/networking/externaldns/internal/externalsecret.yaml
  kubernetes/subterra/apps/networking/externaldns/internal/helmrelease.yaml
  kubernetes/subterra/apps/networking/externaldns/internal/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

feat: bind fix
  kubernetes/subterra/apps/networking/externaldns/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: try to fix multus
  kubernetes/berries/apps/kube-system/multus/config/net-attach-iot.yaml
Labels: area/kubernetes, cluster/berries

fix: readiness
  kubernetes/berries/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes, cluster/berries

feat: remove dns,dhcp from Kubernetes
  kubernetes/subterra/apps/networking/bind9/app/cm.yaml
  kubernetes/subterra/apps/networking/bind9/app/deployment.yaml
  kubernetes/subterra/apps/networking/bind9/app/kustomization.yaml
  kubernetes/subterra/apps/networking/bind9/app/service.yaml
  kubernetes/subterra/apps/networking/bind9/ks.yaml
  kubernetes/subterra/apps/networking/blocky/app/helmrelease.yaml
  kubernetes/subterra/apps/networking/blocky/app/kustomization.yaml
  kubernetes/subterra/apps/networking/blocky/app/whitelist.txt
  kubernetes/subterra/apps/networking/blocky/ks.yaml
  kubernetes/subterra/apps/networking/kea/app/helmrelease.yaml
  kubernetes/subterra/apps/networking/kea/app/kustomization.yaml
  kubernetes/subterra/apps/networking/kea/app/secret.enc.yaml
  kubernetes/subterra/apps/networking/kea/ks.yaml
  kubernetes/subterra/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

fix: ks, descheduler
  kubernetes/_global/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes, cluster/all

fix: ks
  kubernetes/subterra/apps/networking/externaldns/ks.yaml
  kubernetes/subterra/apps/vpn/terminal/ks.yaml
Labels: area/kubernetes, cluster/subterra

feat: update zigbe2mqtt config
  kubernetes/berries/apps/smarthome/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/subterra/apps/smarthome/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra, cluster/berries

feat: deploy windmill
  kubernetes/_global/flux/repositories/helm/kustomization.yaml
  kubernetes/_global/flux/repositories/helm/windmill-charts.yaml
  kubernetes/subterra/apps/apps/kustomization.yaml
  kubernetes/subterra/apps/apps/windmill/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/windmill/app/kustomization.yaml
  kubernetes/subterra/apps/apps/windmill/app/postgresCluster.yaml
  kubernetes/subterra/apps/apps/windmill/ks.yaml
Labels: area/kubernetes, cluster/subterra, cluster/all

fix: postgrescluster
  kubernetes/subterra/apps/apps/windmill/app/postgresCluster.yaml
Labels: area/kubernetes, cluster/subterra

fix: zigbee2mqtt values
  kubernetes/berries/apps/smarthome/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/berries

feat: deploy capacitor
  kubernetes/berries/apps/flux-system/add-ons/capacitor/app/helmrelease.yaml
  kubernetes/berries/apps/flux-system/add-ons/capacitor/app/kustomization.yaml
  kubernetes/berries/apps/flux-system/add-ons/capacitor/app/networkpolicy.yaml
  kubernetes/berries/apps/flux-system/add-ons/capacitor/app/rbac.yaml
  kubernetes/berries/apps/flux-system/add-ons/ks.yaml
Labels: area/kubernetes, cluster/berries

fix: rbac for capactiro
  kubernetes/berries/apps/flux-system/add-ons/capacitor/app/rbac.yaml
Labels: area/kubernetes, cluster/berries

fix: cert-manager
  kubernetes/_global/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/_global/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/_global/apps/cert-manager/cert-manager/app/prometheusRule.yaml
Labels: area/kubernetes, cluster/all

feat: remove milrotik fix: snmp
  kubernetes/berries/apps/monitoring/exporters/mikrotik-exporter/app/externalsecret.yaml
  kubernetes/berries/apps/monitoring/exporters/mikrotik-exporter/app/helmrelease.yaml
  kubernetes/berries/apps/monitoring/exporters/mikrotik-exporter/app/kustomization.yaml
  kubernetes/berries/apps/monitoring/exporters/mikrotik-exporter/ks.yaml
  kubernetes/berries/apps/monitoring/exporters/snmp-exporter/app/helmrelease.yaml
  kubernetes/berries/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/berries

fix: nut
  kubernetes/berries/apps/monitoring/nut/app/helmrelease.yaml
Labels: area/kubernetes, cluster/berries

fix: multus
  kubernetes/berries/apps/kube-system/multus/config/net-attach-iot.yaml
Labels: area/kubernetes, cluster/berries

fix: json
  kubernetes/berries/apps/kube-system/multus/config/net-attach-iot.yaml
Labels: area/kubernetes, cluster/berries

feat: vikunja app add
  kubernetes/subterra/apps/apps/kustomization.yaml
  kubernetes/subterra/apps/apps/vikunja/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/vikunja/app/kustomization.yaml
  kubernetes/subterra/apps/apps/vikunja/app/pvc.yaml
  kubernetes/subterra/apps/apps/vikunja/app/volsync.yaml
  kubernetes/subterra/apps/apps/vikunja/ks.yaml
Labels: area/kubernetes, cluster/subterra

fix: ks.yaml
  kubernetes/subterra/apps/apps/vikunja/ks.yaml
Labels: area/kubernetes, cluster/subterra

fix: namesapce
  kubernetes/subterra/apps/apps/vikunja/ks.yaml
Labels: area/kubernetes, cluster/subterra

fix: ks.yaml
  kubernetes/subterra/apps/apps/vikunja/ks.yaml
Labels: area/kubernetes, cluster/subterra

feat: vikunja sso
  kubernetes/subterra/apps/apps/vikunja/app/externalsecret.yaml
  kubernetes/subterra/apps/apps/vikunja/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/vikunja/app/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

feat: deploy hoarder shoutout to @bjw-s
  kubernetes/subterra/apps/apps/hoarder/app/externalsecret.yaml
  kubernetes/subterra/apps/apps/hoarder/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/hoarder/app/kustomization.yaml
  kubernetes/subterra/apps/apps/hoarder/app/pvc.yaml
  kubernetes/subterra/apps/apps/hoarder/app/volsync.yaml
  kubernetes/subterra/apps/apps/hoarder/ks.yaml
  kubernetes/subterra/apps/apps/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

fix: pvc
  kubernetes/subterra/apps/apps/hoarder/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: hoarder https://github.com/hoarder-app/hoarder/issues/913
  kubernetes/subterra/apps/apps/hoarder/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: allow signup through sso
  kubernetes/subterra/apps/apps/hoarder/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: memory for hoarder
  kubernetes/subterra/apps/apps/hoarder/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: memory for nginx
  kubernetes/subterra/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: deploy any-sync
  kubernetes/subterra/apps/apps/any-sync/app/externalsecret.yaml
  kubernetes/subterra/apps/apps/any-sync/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/any-sync/app/kustomization.yaml
  kubernetes/subterra/apps/apps/any-sync/app/pvc.yaml
  kubernetes/subterra/apps/apps/any-sync/ks.yaml
  kubernetes/subterra/apps/apps/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

fix: any-sync pvc
  kubernetes/subterra/apps/apps/any-sync/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/any-sync/app/pvc.yaml
Labels: area/kubernetes, cluster/subterra

fix: any-sync secret
  kubernetes/subterra/apps/apps/any-sync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra
