Repository mglants/gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/subterra, cluster/berries, cluster/all

fix: ifname
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: disable firewall for now
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: enable firewall back
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: try vpn again
  kubernetes/subterra/apps/apps/marzban/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: emqx OOM fix
  kubernetes/berries/apps/smarthome/emqx/app/helmrelease.yaml
Labels: area/kubernetes, cluster/berries

feat: deploy new easier server
  kubernetes/subterra/apps/games/minecraft-enigmatica10/app/externalsecret.yaml
  kubernetes/subterra/apps/games/minecraft-enigmatica10/app/helmrelease.yaml
  kubernetes/subterra/apps/games/minecraft-enigmatica10/app/kustomization.yaml
  kubernetes/subterra/apps/games/minecraft-enigmatica10/app/pvc.yaml
  kubernetes/subterra/apps/games/minecraft-enigmatica10/ks.yaml
Labels: area/kubernetes, cluster/subterra

fix: forget add
  kubernetes/subterra/apps/games/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

fix: externalsecret
  kubernetes/subterra/apps/games/minecraft-enigmatica10/app/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

fix: namespace
  kubernetes/subterra/apps/games/minecraft-enigmatica10/app/externalsecret.yaml
Labels: area/kubernetes, cluster/subterra

fix: values
  kubernetes/subterra/apps/games/minecraft-enigmatica10/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: deploy server
  kubernetes/subterra/apps/games/minecraft-enigmatica10/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: port
  kubernetes/subterra/apps/games/minecraft-enigmatica10/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: rollback pgo 15pgsql
  kubernetes/berries/apps/database/crunchy-postgres-operator/operator/helmrelease.yaml
  kubernetes/subterra/apps/database/crunchy-postgres-operator/operator/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra, cluster/berries

fix: descheduler
  kubernetes/_global/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes, cluster/all

fix: netbox tls
  kubernetes/subterra/apps/apps/netbox/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: deploy gitea
  kubernetes/subterra/apps/apps/gitea/app/externalsecret.yaml
  kubernetes/subterra/apps/apps/gitea/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/gitea/app/kustomization.yaml
  kubernetes/subterra/apps/apps/gitea/app/postgresCluster.yaml
  kubernetes/subterra/apps/apps/gitea/app/pvc.yaml
  kubernetes/subterra/apps/apps/gitea/app/volsync.yaml
  kubernetes/subterra/apps/apps/gitea/ks.yaml
  kubernetes/subterra/apps/apps/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

fix: gitea oidc
  kubernetes/subterra/apps/apps/gitea/app/externalsecret.yaml
  kubernetes/subterra/apps/apps/gitea/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: strategy
  kubernetes/subterra/apps/apps/gitea/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: gitea oidc admins
  kubernetes/subterra/apps/apps/gitea/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: added missing exnternal-secrets
  kubernetes/berries/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/berries/apps/security/kustomization.yaml
  kubernetes/berries/apps/security/onepassword-connect/app/helmrelease.yaml
  kubernetes/berries/apps/security/onepassword-connect/app/kustomization.yaml
  kubernetes/berries/apps/security/onepassword-connect/ks.yaml
Labels: area/kubernetes, cluster/berries

feat: multus sbr
  kubernetes/berries/apps/kube-system/multus/config/net-attach-iot.yaml
  kubernetes/berries/apps/kube-system/multus/config/net-attach-servers.yaml
Labels: area/kubernetes, cluster/berries

feat: cilium config
  kubernetes/berries/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/berries

feat: upgrade-controller
  kubernetes/berries/apps/system-upgrade/kustomization.yaml
  kubernetes/berries/apps/system-upgrade/namespace.yaml
  kubernetes/berries/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/berries/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/berries/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml
  kubernetes/berries/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/berries/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/berries/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/berries/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes, cluster/berries

fix: upgrade-controller
  kubernetes/berries/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/berries

fix: bjw-s charts repo
  kubernetes/_global/flux/repositories/helm/bjw-s-charts.yaml
Labels: area/kubernetes, cluster/all

feat: system-upgrade fix
  kubernetes/berries/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/berries

fix: kustomization namespace
  kubernetes/berries/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/berries

fix: image for volsunc
  kubernetes/berries/apps/backup/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/berries

fix: volsync clone method
  kubernetes/berries/apps/monitoring/grafana/app/volsync.yaml
  kubernetes/berries/apps/smarthome/esphome/app/volsync.yaml
  kubernetes/berries/apps/smarthome/homeassistant/app/volsync.yaml
  kubernetes/berries/apps/smarthome/node-red/app/volsync.yaml
  kubernetes/berries/apps/smarthome/zigbee2mqtt/app/volsync.yaml
  kubernetes/subterra/apps/apps/gitea/app/volsync.yaml
  kubernetes/subterra/apps/apps/hoarder/app/volsync.yaml
  kubernetes/subterra/apps/apps/mailu/app/volsync.yaml
  kubernetes/subterra/apps/apps/marzban/app/volsync.yaml
  kubernetes/subterra/apps/apps/netbox/app/volsync.yaml
  kubernetes/subterra/apps/apps/nextcloud/app/volsync.yaml
  kubernetes/subterra/apps/apps/ocis/app/volsync.yaml
  kubernetes/subterra/apps/apps/paperless/app/volsync.yaml
  kubernetes/subterra/apps/apps/vaultwarden/app/volsync.yaml
  kubernetes/subterra/apps/apps/vikunja/app/volsync.yaml
  kubernetes/subterra/apps/media/calibre-web/app/volsync.yaml
  kubernetes/subterra/apps/media/jackett/app/volsync.yaml
  kubernetes/subterra/apps/media/jellyfin/app/volsync.yaml
  kubernetes/subterra/apps/media/jellyseerr/app/volsync.yaml
  kubernetes/subterra/apps/media/plex/app/volsync.yaml
  kubernetes/subterra/apps/media/prowlarr/app/volsync.yaml
  kubernetes/subterra/apps/media/qbittorrent/app/volsync.yaml
  kubernetes/subterra/apps/media/radarr/app/volsync.yaml
  kubernetes/subterra/apps/media/shinobi/app/volsync.yaml
  kubernetes/subterra/apps/media/sonarr/app/volsync.yaml
  kubernetes/subterra/apps/media/xteve/app/volsync.yaml
  kubernetes/subterra/apps/monitoring/grafana/app/volsync.yaml
  kubernetes/subterra/apps/monitoring/uptime-kuma/app/volsync.yaml
  kubernetes/subterra/apps/networking/uisp/app/volsync.yaml
  kubernetes/subterra/apps/smarthome/esphome/app/volsync.yaml
  kubernetes/subterra/apps/smarthome/homeassistant/app/volsync.yaml
  kubernetes/subterra/apps/smarthome/zigbee2mqtt/app/volsync.yaml
Labels: area/kubernetes, cluster/subterra, cluster/berries

fix: volsync
  kubernetes/berries/apps/backup/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/berries

feat: deploy minecraft games
  kubernetes/subterra/apps/games/kustomization.yaml
  kubernetes/subterra/apps/games/minecraft-games/app/helmrelease.yaml
  kubernetes/subterra/apps/games/minecraft-games/app/kustomization.yaml
  kubernetes/subterra/apps/games/minecraft-games/app/pvc.yaml
  kubernetes/subterra/apps/games/minecraft-games/ks.yaml
Labels: area/kubernetes, cluster/subterra

feat: added marzban-next
  kubernetes/subterra/apps/apps/kustomization.yaml
  kubernetes/subterra/apps/apps/marzban-next/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/marzban-next/app/kustomization.yaml
  kubernetes/subterra/apps/apps/marzban-next/app/pvc.yaml
  kubernetes/subterra/apps/apps/marzban-next/ks.yaml
Labels: area/kubernetes, cluster/subterra

fix: name
  kubernetes/subterra/apps/apps/marzban-next/app/pvc.yaml
Labels: area/kubernetes, cluster/subterra

feat: try to fix db
  kubernetes/subterra/apps/apps/marzban-next/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: upgrade marzban to beta
  kubernetes/subterra/apps/apps/kustomization.yaml
  kubernetes/subterra/apps/apps/marzban-next/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/marzban-next/app/kustomization.yaml
  kubernetes/subterra/apps/apps/marzban-next/app/pvc.yaml
  kubernetes/subterra/apps/apps/marzban-next/ks.yaml
  kubernetes/subterra/apps/apps/marzban/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: nginx vars
  kubernetes/_global/apps/ingress-nginx/ingress-nginx/app/helmrelease.yaml
  kubernetes/berries/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/berries/apps/networking/ingress-nginx/internal/helmrelease.yaml
  kubernetes/subterra/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/subterra/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra, cluster/berries, cluster/all

feat: move from hoarder to karakeep
  kubernetes/subterra/apps/apps/karakepp/app/externalsecret.yaml
  kubernetes/subterra/apps/apps/karakepp/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/karakepp/app/kustomization.yaml
  kubernetes/subterra/apps/apps/karakepp/app/pvc.yaml
  kubernetes/subterra/apps/apps/karakepp/app/volsync.yaml
  kubernetes/subterra/apps/apps/karakepp/ks.yaml
  kubernetes/subterra/apps/apps/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

fix: folder for karakeep
  kubernetes/subterra/apps/apps/karakeep/app/externalsecret.yaml
  kubernetes/subterra/apps/apps/karakeep/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/karakeep/app/kustomization.yaml
  kubernetes/subterra/apps/apps/karakeep/app/pvc.yaml
  kubernetes/subterra/apps/apps/karakeep/app/volsync.yaml
  kubernetes/subterra/apps/apps/karakeep/ks.yaml
Labels: area/kubernetes, cluster/subterra

fix: pod going to much
  kubernetes/_global/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes, cluster/all

fix: volsync
  kubernetes/subterra/apps/apps/karakeep/app/volsync.yaml
Labels: area/kubernetes, cluster/subterra

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/subterra:
  - changed-files:
      - any-glob-to-any-file: kubernetes/subterra/**/*
cluster/berries:
  - changed-files:
      - any-glob-to-any-file: kubernetes/berries/**/*
cluster/all:
  - changed-files:
      - any-glob-to-any-file: kubernetes/_global/**/*
