Repository mglants/gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/subterra, cluster/berries, cluster/all

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/subterra:
  - changed-files:
      - any-glob-to-any-file: kubernetes/subterra/**/*
cluster/berries:
  - changed-files:
      - any-glob-to-any-file: kubernetes/berries/**/*
cluster/all:
  - changed-files:
      - any-glob-to-any-file: kubernetes/_global/**/*

fix: images
  kubernetes/subterra/apps/dev/actions-runner-controller/runners/containers.yaml
  kubernetes/subterra/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/subterra/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: remove shinobi
  kubernetes/subterra/apps/media/kustomization.yaml
  kubernetes/subterra/apps/media/shinobi/app/helmrelease.yaml
  kubernetes/subterra/apps/media/shinobi/app/kustomization.yaml
  kubernetes/subterra/apps/media/shinobi/app/pvc.yaml
  kubernetes/subterra/apps/media/shinobi/app/volsync.yaml
  kubernetes/subterra/apps/media/shinobi/ks.yaml
Labels: area/kubernetes, cluster/subterra

feat: volsync copies donwgrade
  kubernetes/berries/apps/monitoring/grafana/app/volsync.yaml
  kubernetes/berries/apps/smarthome/esphome/app/volsync.yaml
  kubernetes/berries/apps/smarthome/homeassistant/app/volsync.yaml
  kubernetes/berries/apps/smarthome/node-red/app/volsync.yaml
  kubernetes/berries/apps/smarthome/zigbee2mqtt/app/volsync.yaml
  kubernetes/subterra/apps/apps/gitea/app/volsync.yaml
  kubernetes/subterra/apps/apps/karakeep/app/volsync.yaml
  kubernetes/subterra/apps/apps/mailu/app/volsync.yaml
  kubernetes/subterra/apps/apps/marzban/app/volsync.yaml
  kubernetes/subterra/apps/apps/netbox/app/volsync.yaml
  kubernetes/subterra/apps/apps/nextcloud/app/volsync.yaml
  kubernetes/subterra/apps/apps/ocis/app/volsync.yaml
  kubernetes/subterra/apps/apps/paperless/app/volsync.yaml
  kubernetes/subterra/apps/apps/vaultwarden/app/volsync.yaml
  kubernetes/subterra/apps/apps/vikunja/app/volsync.yaml
  kubernetes/subterra/apps/media/calibre-web/app/volsync.yaml
  kubernetes/subterra/apps/media/jackett/app/volsync.yaml
  kubernetes/subterra/apps/media/jellyfin/app/volsync.yaml
  kubernetes/subterra/apps/media/jellyseerr/app/volsync.yaml
  kubernetes/subterra/apps/media/plex/app/volsync.yaml
  kubernetes/subterra/apps/media/prowlarr/app/volsync.yaml
  kubernetes/subterra/apps/media/qbittorrent/app/volsync.yaml
  kubernetes/subterra/apps/media/radarr/app/volsync.yaml
  kubernetes/subterra/apps/media/sonarr/app/volsync.yaml
  kubernetes/subterra/apps/media/xteve/app/volsync.yaml
  kubernetes/subterra/apps/monitoring/grafana/app/volsync.yaml
  kubernetes/subterra/apps/monitoring/uptime-kuma/app/volsync.yaml
  kubernetes/subterra/apps/networking/uisp/app/volsync.yaml
  kubernetes/subterra/apps/smarthome/esphome/app/volsync.yaml
  kubernetes/subterra/apps/smarthome/homeassistant/app/volsync.yaml
  kubernetes/subterra/apps/smarthome/zigbee2mqtt/app/volsync.yaml
Labels: area/kubernetes, cluster/subterra, cluster/berries

feat: downscale even more
  kubernetes/berries/apps/monitoring/grafana/app/volsync.yaml
  kubernetes/berries/apps/smarthome/esphome/app/volsync.yaml
  kubernetes/berries/apps/smarthome/homeassistant/app/volsync.yaml
  kubernetes/berries/apps/smarthome/node-red/app/volsync.yaml
  kubernetes/berries/apps/smarthome/zigbee2mqtt/app/volsync.yaml
  kubernetes/subterra/apps/apps/gitea/app/volsync.yaml
  kubernetes/subterra/apps/apps/karakeep/app/volsync.yaml
  kubernetes/subterra/apps/apps/mailu/app/volsync.yaml
  kubernetes/subterra/apps/apps/marzban/app/volsync.yaml
  kubernetes/subterra/apps/apps/netbox/app/volsync.yaml
  kubernetes/subterra/apps/apps/nextcloud/app/volsync.yaml
  kubernetes/subterra/apps/apps/ocis/app/volsync.yaml
  kubernetes/subterra/apps/apps/paperless/app/volsync.yaml
  kubernetes/subterra/apps/apps/vaultwarden/app/volsync.yaml
  kubernetes/subterra/apps/apps/vikunja/app/volsync.yaml
  kubernetes/subterra/apps/media/calibre-web/app/volsync.yaml
  kubernetes/subterra/apps/media/jackett/app/volsync.yaml
  kubernetes/subterra/apps/media/jellyfin/app/volsync.yaml
  kubernetes/subterra/apps/media/jellyseerr/app/volsync.yaml
  kubernetes/subterra/apps/media/plex/app/volsync.yaml
  kubernetes/subterra/apps/media/prowlarr/app/volsync.yaml
  kubernetes/subterra/apps/media/qbittorrent/app/volsync.yaml
  kubernetes/subterra/apps/media/radarr/app/volsync.yaml
  kubernetes/subterra/apps/media/sonarr/app/volsync.yaml
  kubernetes/subterra/apps/media/xteve/app/volsync.yaml
  kubernetes/subterra/apps/monitoring/grafana/app/volsync.yaml
  kubernetes/subterra/apps/monitoring/uptime-kuma/app/volsync.yaml
  kubernetes/subterra/apps/networking/uisp/app/volsync.yaml
  kubernetes/subterra/apps/smarthome/esphome/app/volsync.yaml
  kubernetes/subterra/apps/smarthome/homeassistant/app/volsync.yaml
  kubernetes/subterra/apps/smarthome/zigbee2mqtt/app/volsync.yaml
Labels: area/kubernetes, cluster/subterra, cluster/berries

fix: plex cache
  kubernetes/subterra/apps/media/plex/app/volsync.yaml
Labels: area/kubernetes, cluster/subterra

feat: fuck rkn
  kubernetes/subterra/apps/media/piped/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: vpn-gateway
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: replace with mihomo
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: interface mihomo
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: try to add chardevice
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: added tun device
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: update mihomo
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: roolback config
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: use vpn for matrix fuck rkn
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: added namespace
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: matrix namespace for vpn
  kubernetes/subterra/apps/matrix/namespace.yaml
Labels: area/kubernetes, cluster/subterra

feat: also need vpn for main
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: ident
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: jitsi domain
  kubernetes/subterra/apps/matrix/jitsi/app/helmrelease.old.yaml
Labels: area/kubernetes, cluster/subterra

fix: try identity
  kubernetes/subterra/apps/matrix/element-web/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: added docs for marzban
  kubernetes/subterra/apps/apps/marzban/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: add new version
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: add db telegram
  kubernetes/subterra/apps/matrix/synapse/app/postgresCluster.yaml
Labels: area/kubernetes, cluster/subterra

feat: deploy telegram bridge
  kubernetes/subterra/apps/matrix/bridge/ks.yaml
  kubernetes/subterra/apps/matrix/bridge/telegram/externalsecret.yaml
  kubernetes/subterra/apps/matrix/bridge/telegram/helmrelease.yaml
  kubernetes/subterra/apps/matrix/bridge/telegram/kustomization.yaml
  kubernetes/subterra/apps/matrix/bridge/telegram/pvc.yaml
  kubernetes/subterra/apps/matrix/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

fix: add externalsecret
  kubernetes/subterra/apps/matrix/bridge/telegram/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

feat: added registration file
  kubernetes/subterra/apps/matrix/bridge/telegram/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: register telegram
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: workers mount
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: gmessages bridge
  kubernetes/subterra/apps/matrix/synapse/app/postgresCluster.yaml
Labels: area/kubernetes, cluster/subterra

feat: deploy gmessages bridge
  kubernetes/subterra/apps/matrix/bridge/gmessages/externalsecret.yaml
  kubernetes/subterra/apps/matrix/bridge/gmessages/helmrelease.yaml
  kubernetes/subterra/apps/matrix/bridge/gmessages/kustomization.yaml
  kubernetes/subterra/apps/matrix/bridge/ks.yaml
  kubernetes/subterra/apps/matrix/bridge/telegram/pvc.yaml
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: gmessages registration
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: rempove ts
  kubernetes/subterra/apps/apps/teamspeak/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: deploy pasarguard
  kubernetes/subterra/apps/apps/kustomization.yaml
  kubernetes/subterra/apps/apps/pasarguard/app/externalsecret.yaml
  kubernetes/subterra/apps/apps/pasarguard/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/pasarguard/app/kustomization.yaml
  kubernetes/subterra/apps/apps/pasarguard/app/pvc.yaml
  kubernetes/subterra/apps/apps/pasarguard/app/volsync.yaml
  kubernetes/subterra/apps/apps/pasarguard/ks.yaml
Labels: area/kubernetes, cluster/subterra

fix: dns servers
  kubernetes/_global/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes, cluster/all

feat: remove marzban
  kubernetes/subterra/apps/apps/kustomization.yaml
  kubernetes/subterra/apps/apps/marzban/app/externalsecret.yaml
  kubernetes/subterra/apps/apps/marzban/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/marzban/app/kustomization.yaml
  kubernetes/subterra/apps/apps/marzban/app/pvc.yaml
  kubernetes/subterra/apps/apps/marzban/app/volsync.yaml
  kubernetes/subterra/apps/apps/marzban/ks.yaml
  kubernetes/subterra/apps/apps/pasarguard/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: mautrix teelgram
  kubernetes/subterra/apps/matrix/bridge/telegram/pvc.yaml
Labels: area/kubernetes, cluster/subterra

feat: deploy opencloud
  kubernetes/subterra/apps/apps/kustomization.yaml
  kubernetes/subterra/apps/apps/opencloud/app/config/csp.yaml
  kubernetes/subterra/apps/apps/opencloud/app/config/proxy.yaml
  kubernetes/subterra/apps/apps/opencloud/app/externalsecret.yaml
  kubernetes/subterra/apps/apps/opencloud/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/opencloud/app/kustomization.yaml
  kubernetes/subterra/apps/apps/opencloud/app/pvc.yaml
  kubernetes/subterra/apps/apps/opencloud/app/volsync.yaml
  kubernetes/subterra/apps/apps/opencloud/ks.yaml
Labels: area/kubernetes, cluster/subterra

fix: remove route
  kubernetes/subterra/apps/apps/opencloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: add env for s3
  kubernetes/subterra/apps/apps/opencloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: csp
  kubernetes/subterra/apps/apps/opencloud/app/config/csp.yaml
Labels: area/kubernetes, cluster/subterra
