Repository mglants/gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/subterra, cluster/berries, cluster/all

feat: update mapping
  kubernetes/subterra/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: added jitsi url
  kubernetes/subterra/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: cors for jitsi auth
  kubernetes/subterra/apps/matrix/jitsi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: uvs query to ingress
  kubernetes/subterra/apps/matrix/jitsi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: deploy stunner charts
  kubernetes/_global/flux/repositories/helm/kustomization.yaml
  kubernetes/_global/flux/repositories/helm/stunner-charts.yaml
  kubernetes/subterra/apps/matrix/kustomization.yaml
  kubernetes/subterra/apps/matrix/stunner/app/helmrelease.yaml
  kubernetes/subterra/apps/matrix/stunner/app/kustomization.yaml
  kubernetes/subterra/apps/matrix/stunner/ks.yaml
Labels: area/kubernetes, cluster/subterra, cluster/all

feat: add secret to stunner
  kubernetes/subterra/apps/matrix/stunner/app/externalsecret.yaml
  kubernetes/subterra/apps/matrix/stunner/app/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

feat: route through gateway
  kubernetes/subterra/apps/networking/unifi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: add routed gateway
  kubernetes/subterra/apps/networking/namespace.yaml
Labels: area/kubernetes, cluster/subterra

feat: try to fix media
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: matrix media
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: strategy for media
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: paths
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: try to fix media
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: try to fix receipts
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: added stun provider
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: remove some worker
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: add certificate
  kubernetes/subterra/apps/matrix/stunner/app/certificate.yaml
  kubernetes/subterra/apps/matrix/stunner/app/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

feat: remove certificate
  kubernetes/subterra/apps/matrix/stunner/app/certificate.yaml
  kubernetes/subterra/apps/matrix/stunner/app/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

feat: added certifcate back
  kubernetes/subterra/apps/matrix/stunner/app/certificate.yaml
  kubernetes/subterra/apps/matrix/stunner/app/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

feat: fix certificate
  kubernetes/subterra/apps/matrix/stunner/app/certificate.yaml
Labels: area/kubernetes, cluster/subterra

feat: switch synapse to turns
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: added config
  kubernetes/subterra/apps/matrix/stunner/config/config.yaml
  kubernetes/subterra/apps/matrix/stunner/config/kustomization.yaml
  kubernetes/subterra/apps/matrix/stunner/ks.yaml
Labels: area/kubernetes, cluster/subterra

feat: update whitelist of calibre web
  kubernetes/subterra/apps/media/calibre-web/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: blocky
  kubernetes/subterra/apps/networking/blocky/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: subterra redone via matchbox
  kubernetes/subterra/bootstrap/matchbox/.terraform.lock.hcl
  kubernetes/subterra/bootstrap/matchbox/groups.tf
  kubernetes/subterra/bootstrap/matchbox/main.tf
  kubernetes/subterra/bootstrap/matchbox/profiles.tf
  kubernetes/subterra/bootstrap/matchbox/terraform.tfvars
  kubernetes/subterra/bootstrap/matchbox/variables.tf
  kubernetes/subterra/bootstrap/talos/clusterconfig/.gitignore
  kubernetes/subterra/bootstrap/talos/talconfig.yaml
  kubernetes/subterra/bootstrap/talos/talenv.sops.yaml
  kubernetes/subterra/bootstrap/talos/talsecret.sops.yaml
Labels: area/kubernetes, cluster/subterra

fix: zigbee if multiple devices present
  kubernetes/berries/apps/smarthome/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/berries

feat: high node util
  kubernetes/_global/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes, cluster/all

fix: balancign
  kubernetes/_global/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes, cluster/all

fix: descheduler
  kubernetes/_global/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes, cluster/all

fix: descheduler
  kubernetes/_global/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes, cluster/all

fix: vscode ingress class
  kubernetes/subterra/apps/smarthome/homeassistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: vmware cleanup
  kubernetes/berries/bootstrap/talos/talconfig.yaml
  kubernetes/subterra/apps/kube-system/kustomization.yaml
  kubernetes/subterra/apps/kube-system/talos-vmtoolsd/app/daemonset.yaml
  kubernetes/subterra/apps/kube-system/talos-vmtoolsd/app/kustomization.yaml
  kubernetes/subterra/apps/kube-system/talos-vmtoolsd/ks.yaml
  kubernetes/subterra/apps/monitoring/exporters/vmware-exporter/app/externalsecret.yaml
  kubernetes/subterra/apps/monitoring/exporters/vmware-exporter/app/helmrelease.yaml
  kubernetes/subterra/apps/monitoring/exporters/vmware-exporter/app/kustomization.yaml
  kubernetes/subterra/apps/monitoring/exporters/vmware-exporter/app/service-monitor.yaml
  kubernetes/subterra/apps/monitoring/exporters/vmware-exporter/ks.yaml
  kubernetes/subterra/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/subterra, cluster/berries

fix: clamav db
  kubernetes/subterra/apps/apps/mailu/app/cm-clamav.yaml
Labels: area/kubernetes, cluster/subterra

fix: grafana plugins
  kubernetes/berries/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/subterra/apps/monitoring/grafana/app/helmrelease.yaml
  test.yaml
Labels: area/kubernetes, cluster/subterra, cluster/berries

feat: added new dashboards
  kubernetes/berries/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/berries

fix: bitnami
  kubernetes/_global/flux/repositories/helm/bitnami-charts.yaml
Labels: area/kubernetes, cluster/all

fix: clamav
  kubernetes/subterra/apps/apps/mailu/app/cm-clamav.yaml
Labels: area/kubernetes, cluster/subterra

feat: update cluster, fix loop webhook
  kubernetes/subterra/apps/networking/namespace.yaml
  kubernetes/subterra/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/subterra

fix: ocis
  kubernetes/subterra/apps/apps/ocis/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: update dnsEndpoints
  kubernetes/subterra/apps/networking/external-services/app/dnsEndpoint.yaml
Labels: area/kubernetes, cluster/subterra

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/subterra:
  - changed-files:
      - any-glob-to-any-file: kubernetes/subterra/**/*
cluster/berries:
  - changed-files:
      - any-glob-to-any-file: kubernetes/berries/**/*
cluster/all:
  - changed-files:
      - any-glob-to-any-file: kubernetes/_global/**/*
