Repository mglants/gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/subterra, cluster/berries, cluster/all

feat: fix postgrescluster
  kubernetes/subterra/apps/matrix/synapse/app/postgresCluster.yaml
Labels: area/kubernetes, cluster/subterra

fix: locale
  kubernetes/subterra/apps/matrix/synapse/app/postgresCluster.yaml
Labels: area/kubernetes, cluster/subterra

feat: deploy element-web
  kubernetes/subterra/apps/matrix/element-web/app/helmrelease.yaml
  kubernetes/subterra/apps/matrix/element-web/app/kustomization.yaml
  kubernetes/subterra/apps/matrix/element-web/ks.yaml
  kubernetes/subterra/apps/matrix/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

fix: ingress url
  kubernetes/subterra/apps/matrix/element-web/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: added oidc secret
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: deploy jitst
  kubernetes/_global/flux/repositories/helm/jitsi-charts.yaml
  kubernetes/subterra/apps/matrix/jitsi/app/helmrelease.yaml
  kubernetes/subterra/apps/matrix/jitsi/app/kustomization.yaml
  kubernetes/subterra/apps/matrix/jitsi/ks.yaml
Labels: area/kubernetes, cluster/subterra, cluster/all

fix: jitsi deploy
  kubernetes/subterra/apps/matrix/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

fix: charts
  kubernetes/_global/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/all

fix: helm chart name
  kubernetes/subterra/apps/matrix/jitsi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: prosody pvc
  kubernetes/subterra/apps/matrix/jitsi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: update workers
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: remove limits
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: update psql
  kubernetes/subterra/apps/matrix/synapse/app/postgresCluster.yaml
Labels: area/kubernetes, cluster/subterra

feat: update patroni
  kubernetes/subterra/apps/matrix/synapse/app/postgresCluster.yaml
Labels: area/kubernetes, cluster/subterra

fix: connections
  kubernetes/subterra/apps/matrix/synapse/app/postgresCluster.yaml
Labels: area/kubernetes, cluster/subterra

fix: synapse host
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: connections string
  kubernetes/subterra/apps/matrix/synapse/app/postgresCluster.yaml
Labels: area/kubernetes, cluster/subterra

fix: postgres password
  kubernetes/subterra/apps/matrix/synapse/app/postgresCluster.yaml
Labels: area/kubernetes, cluster/subterra

fix: database linj
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: ingress cors matrix
  kubernetes/subterra/apps/matrix/element-web/app/helmrelease.yaml
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: matrix extra config
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: matrix fix
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: matrix proxy size
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: matrix update logging
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: disable structured
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: update cpu requests
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: try to scale messages
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: strategy
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: added messages worker
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: naming
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: redeploy jitsi with another chart
  kubernetes/_global/flux/repositories/helm/element-jitsi-charts.yaml
  kubernetes/_global/flux/repositories/helm/kustomization.yaml
  kubernetes/subterra/apps/matrix/jitsi/app/externalsecret.yaml
  kubernetes/subterra/apps/matrix/jitsi/app/helmrelease.old.yaml
  kubernetes/subterra/apps/matrix/jitsi/app/helmrelease.yaml
  kubernetes/subterra/apps/matrix/jitsi/app/kustomization.yaml
Labels: area/kubernetes, cluster/subterra, cluster/all

feat: reactivate password_config login
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: lower cpu requests
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: messages requests
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: domain for jitsi
  kubernetes/subterra/apps/matrix/jitsi/app/helmrelease.yaml
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: resources
  kubernetes/subterra/apps/matrix/jitsi/app/helmrelease.yaml
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: jitsi domain
  kubernetes/subterra/apps/matrix/jitsi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: jitsi domain for now
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: jitsi domain
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: redone as documents jitsi
  kubernetes/subterra/apps/matrix/element-web/app/helmrelease.yaml
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/subterra:
  - changed-files:
      - any-glob-to-any-file: kubernetes/subterra/**/*
cluster/berries:
  - changed-files:
      - any-glob-to-any-file: kubernetes/berries/**/*
cluster/all:
  - changed-files:
      - any-glob-to-any-file: kubernetes/_global/**/*
