Repository mglants/gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/subterra, cluster/berries, cluster/all

fix(storage): allow dynamic Talos iSCSI initiators
  kubernetes/subterra/apps/storage/truenas-csi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix(storage): allow dynamic iSCSI node access
  kubernetes/subterra/apps/storage/truenas-csi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

migrate(apps): move RustDesk to TrueNAS CSI
  kubernetes/subterra/apps/apps/rustdesk/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/rustdesk/app/pvc.yaml
Labels: area/kubernetes, cluster/subterra

chore(storage): retain legacy CSI volumes during migration
  kubernetes/subterra/apps/democratic-csi/truenas-icssi-csi/app/helmrelease.yaml
  kubernetes/subterra/apps/democratic-csi/truenas-nfs-csi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

migrate(storage): move first application wave to TrueNAS CSI
  kubernetes/subterra/apps/apps/mumble/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/mumble/app/pvc.yaml
  kubernetes/subterra/apps/apps/teamspeak/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/teamspeak/app/pvc.yaml
  kubernetes/subterra/apps/apps/vikunja/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/vikunja/app/pvc.yaml
  kubernetes/subterra/apps/media/xteve/app/helmrelease.yaml
  kubernetes/subterra/apps/media/xteve/app/pvc.yaml
Labels: area/kubernetes, cluster/subterra

migrate(storage): move second application wave to TrueNAS CSI
  kubernetes/subterra/apps/apps/karakeep/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/karakeep/app/pvc.yaml
  kubernetes/subterra/apps/apps/opencloud/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/opencloud/app/pvc.yaml
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/remnawave/app/pvc.yaml
  kubernetes/subterra/apps/apps/vaultwarden/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/vaultwarden/app/pvc.yaml
  kubernetes/subterra/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/subterra/apps/media/calibre-web/app/pvc.yaml
  kubernetes/subterra/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/subterra/apps/media/jellyseerr/app/pvc.yaml
  kubernetes/subterra/apps/networking/uisp/app/helmrelease.yaml
  kubernetes/subterra/apps/networking/uisp/app/pvc.yaml
  kubernetes/subterra/apps/networking/unifi/app/helmrelease.yaml
  kubernetes/subterra/apps/networking/unifi/app/pvc.yaml
  kubernetes/subterra/apps/smarthome/esphome/app/helmrelease.yaml
  kubernetes/subterra/apps/smarthome/esphome/app/pvc.yaml
Labels: area/kubernetes, cluster/subterra

migrate(storage): move media and games apps to TrueNAS CSI
  kubernetes/subterra/apps/games/minecraft-bedrock/app/helmrelease.yaml
  kubernetes/subterra/apps/games/minecraft-bedrock/app/pvc.yaml
  kubernetes/subterra/apps/games/minecraft-enigmatica10/app/helmrelease.yaml
  kubernetes/subterra/apps/games/minecraft-enigmatica10/app/pvc.yaml
  kubernetes/subterra/apps/games/minecraft-games/app/helmrelease.yaml
  kubernetes/subterra/apps/games/minecraft-games/app/pvc.yaml
  kubernetes/subterra/apps/games/minecraft-stacia2-expert/app/helmrelease.yaml
  kubernetes/subterra/apps/games/minecraft-stacia2-expert/app/pvc.yaml
  kubernetes/subterra/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/subterra/apps/media/jellyfin/app/pvc.yaml
  kubernetes/subterra/apps/media/plex/app/helmrelease.yaml
  kubernetes/subterra/apps/media/plex/app/pvc.yaml
  kubernetes/subterra/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/subterra/apps/media/prowlarr/app/pvc.yaml
  kubernetes/subterra/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/subterra/apps/media/qbittorrent/app/pvc.yaml
  kubernetes/subterra/apps/media/radarr/app/helmrelease.yaml
  kubernetes/subterra/apps/media/radarr/app/pvc.yaml
  kubernetes/subterra/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/subterra/apps/media/sonarr/app/pvc.yaml
Labels: area/kubernetes, cluster/subterra

fix(games): pin Stacia server to Java 17
  kubernetes/subterra/apps/games/minecraft-stacia2-expert/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

migrate(storage): preserve inactive application volumes
  kubernetes/subterra/apps/matrix/bridge/telegram/pvc.yaml
  kubernetes/subterra/apps/storage/truenas-csi/app/kustomization.yaml
  kubernetes/subterra/apps/storage/truenas-csi/app/retained-application-pvcs.yaml
Labels: area/kubernetes, cluster/subterra

migrate(storage): move active application data to TrueNAS CSI
  kubernetes/subterra/apps/apps/any-sync/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/any-sync/app/pvc.yaml
  kubernetes/subterra/apps/apps/netbox/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/netbox/app/pvc.yaml
  kubernetes/subterra/apps/dev/forgejo/app/helmrelease.yaml
  kubernetes/subterra/apps/dev/forgejo/app/pvc.yaml
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
  kubernetes/subterra/apps/matrix/synapse/app/pvc.yaml
  kubernetes/subterra/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/subterra/apps/monitoring/grafana/app/pvc.yaml
  kubernetes/subterra/apps/smarthome/homeassistant/app/helmrelease.yaml
  kubernetes/subterra/apps/smarthome/homeassistant/app/pvc.yaml
  kubernetes/subterra/apps/smarthome/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/subterra/apps/smarthome/zigbee2mqtt/app/pvc.yaml
  kubernetes/subterra/apps/www/wp-dachia/app/helmrelease.yaml
  kubernetes/subterra/apps/www/wp-dachia/app/pvc.yaml
Labels: area/kubernetes, cluster/subterra

migrate(storage): complete application PVC migration
  kubernetes/subterra/apps/apps/mailu/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/mailu/app/pvc.yaml
  kubernetes/subterra/apps/apps/nextcloud/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/nextcloud/app/pvc.yaml
  kubernetes/subterra/apps/apps/paperless/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

migrate(storage): move monitoring volumes to TrueNAS CSI
  kubernetes/subterra/apps/monitoring/alertmanager/app/helmrelease.yaml
  kubernetes/subterra/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/subterra/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/subterra/apps/storage/truenas-csi/app/retained-application-pvcs.yaml
Labels: area/kubernetes, cluster/subterra

migrate(storage): move remaining datastores to TrueNAS CSI
  kubernetes/subterra/apps/apps/any-sync/mongodb/helmrelease.yaml
  kubernetes/subterra/apps/apps/mailu/app/postgresCluster.yaml
  kubernetes/subterra/apps/apps/netbox/app/postgresCluster.yaml
  kubernetes/subterra/apps/apps/nextcloud/app/postgresCluster.yaml
  kubernetes/subterra/apps/apps/remnawave/app/postgresCluster.yaml
  kubernetes/subterra/apps/apps/spliit/app/postgresCluster.yaml
  kubernetes/subterra/apps/apps/vaultwarden/app/postgresCluster.yaml
  kubernetes/subterra/apps/apps/windmill/app/postgresCluster.yaml
  kubernetes/subterra/apps/infra/authentik/app/postgresCluster.yaml
  kubernetes/subterra/apps/matrix/synapse/app/postgresCluster.yaml
  kubernetes/subterra/apps/media/piped/app/postgresCluster.yaml
  kubernetes/subterra/apps/smarthome/homeassistant/app/postgresCluster.yaml
Labels: area/kubernetes, cluster/subterra

fix(storage): exclude unrelated local manifests
  kubernetes/subterra/apps/backup/kopiur/app/helmrelease.yaml
  kubernetes/subterra/apps/backup/kopiur/app/kustomization.yaml
  kubernetes/subterra/apps/backup/kopiur/app/ocirepository.yaml
  kubernetes/subterra/apps/backup/kopiur/ks.yaml
  kubernetes/subterra/apps/backup/kopiur/repository/clusterrepository.yaml
  kubernetes/subterra/apps/backup/kopiur/repository/kustomization.yaml
  kubernetes/subterra/apps/networking/external-services/app/s3.yaml
Labels: area/kubernetes, cluster/subterra

fix(netbox): use legacy Redis image repository
  kubernetes/subterra/apps/apps/netbox/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix(netbox): pin available Redis 6 legacy tag
  kubernetes/subterra/apps/apps/netbox/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

cleanup(berries): remove VolSync replication volumes
  kubernetes/berries/apps/monitoring/grafana/app/kustomization.yaml
  kubernetes/berries/apps/monitoring/grafana/app/volsync.yaml
  kubernetes/berries/apps/smarthome/esphome/app/kustomization.yaml
  kubernetes/berries/apps/smarthome/esphome/app/volsync.yaml
  kubernetes/berries/apps/smarthome/homeassistant/app/kustomization.yaml
  kubernetes/berries/apps/smarthome/homeassistant/app/volsync.yaml
  kubernetes/berries/apps/smarthome/node-red/app/kustomization.yaml
  kubernetes/berries/apps/smarthome/node-red/app/volsync.yaml
  kubernetes/berries/apps/smarthome/zigbee2mqtt/app/kustomization.yaml
  kubernetes/berries/apps/smarthome/zigbee2mqtt/app/volsync.yaml
Labels: area/kubernetes, cluster/berries

feat(berries): deploy TrueNAS CSI alongside democratic-csi
  kubernetes/berries/apps/storage/kustomization.yaml
  kubernetes/berries/apps/storage/namespace.yaml
  kubernetes/berries/apps/storage/truenas-csi/app/externalsecret.yaml
  kubernetes/berries/apps/storage/truenas-csi/app/helmrelease.yaml
  kubernetes/berries/apps/storage/truenas-csi/app/kustomization.yaml
  kubernetes/berries/apps/storage/truenas-csi/ks.yaml
Labels: area/kubernetes, cluster/berries

fix(berries): use Talos iSCSI configuration path
  kubernetes/berries/apps/storage/truenas-csi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/berries

fix(berries): use dedicated TrueNAS CSI credential
  kubernetes/berries/apps/storage/truenas-csi/app/externalsecret.yaml
Labels: area/kubernetes, cluster/berries

fix(berries): reduce Flux control-plane pressure
  kubernetes/berries/flux/config/flux.yaml
Labels: area/kubernetes, cluster/berries

fix(berries): protect TrueNAS API key with WSS
  kubernetes/berries/apps/storage/truenas-csi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/berries

migrate berries application volumes to truenas csi
  kubernetes/_global/apps/kube-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/berries/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/berries/apps/monitoring/grafana/app/pvc.yaml
  kubernetes/berries/apps/smarthome/esphome/app/helmrelease.yaml
  kubernetes/berries/apps/smarthome/esphome/app/pvc.yaml
  kubernetes/berries/apps/smarthome/frigate/app/helmrelease.yaml
  kubernetes/berries/apps/smarthome/frigate/app/pvc.yaml
  kubernetes/berries/apps/smarthome/homeassistant/app/helmrelease.yaml
  kubernetes/berries/apps/smarthome/homeassistant/app/pvc.yaml
  kubernetes/berries/apps/smarthome/node-red/app/helmrelease.yaml
  kubernetes/berries/apps/smarthome/node-red/app/pvc.yaml
  kubernetes/berries/apps/smarthome/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/berries/apps/smarthome/zigbee2mqtt/app/pvc.yaml
Labels: area/kubernetes, cluster/berries, cluster/all

migrate berries monitoring volumes to truenas csi
  kubernetes/berries/apps/monitoring/alertmanager/app/helmrelease.yaml
  kubernetes/berries/apps/monitoring/alertmanager/app/kustomization.yaml
  kubernetes/berries/apps/monitoring/alertmanager/app/pvc.yaml
  kubernetes/berries/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/berries/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/berries/apps/monitoring/kube-prometheus-stack/app/pvc.yaml
Labels: area/kubernetes, cluster/berries

retain berries inactive alertmanager data on truenas csi
  kubernetes/berries/apps/monitoring/kube-prometheus-stack/app/pvc.yaml
Labels: area/kubernetes, cluster/berries

fix: downgrade remnawave
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

retire berries democratic csi nfs driver
  kubernetes/berries/apps/democratic-csi/kustomization.yaml
  kubernetes/berries/apps/monitoring/grafana/ks.yaml
  kubernetes/berries/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/berries/apps/monitoring/loki/ks.yaml
  kubernetes/berries/apps/smarthome/esphome/ks.yaml
  kubernetes/berries/apps/smarthome/frigate/ks.yaml
  kubernetes/berries/apps/smarthome/homeassistant/ks.yaml
  kubernetes/berries/apps/smarthome/node-red/ks.yaml
  kubernetes/berries/apps/smarthome/zigbee2mqtt/ks.yaml
  kubernetes/berries/apps/storage/truenas-csi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/berries

chore(storage): remove completed CSI migration artifacts
  kubernetes/berries/apps/democratic-csi/truenas-nfs-csi/app/externalsecret.yaml
  kubernetes/berries/apps/democratic-csi/truenas-nfs-csi/app/helmrelease.yaml
  kubernetes/berries/apps/democratic-csi/truenas-nfs-csi/app/kustomization.yaml
  kubernetes/berries/apps/democratic-csi/truenas-nfs-csi/ks.yaml
  kubernetes/subterra/apps/matrix/jitsi/app/helmrelease.old.yaml
Labels: area/kubernetes, cluster/subterra, cluster/berries

chore(storage): finalize TrueNAS CSI migration
  kubernetes/berries/apps/monitoring/alertmanager/app/pvc.yaml
  kubernetes/berries/apps/monitoring/grafana/app/pvc.yaml
  kubernetes/berries/apps/monitoring/kube-prometheus-stack/app/pvc.yaml
  kubernetes/berries/apps/smarthome/esphome/app/pvc.yaml
  kubernetes/berries/apps/smarthome/frigate/app/pvc.yaml
  kubernetes/berries/apps/smarthome/homeassistant/app/pvc.yaml
  kubernetes/berries/apps/smarthome/node-red/app/pvc.yaml
  kubernetes/berries/apps/smarthome/zigbee2mqtt/app/pvc.yaml
  kubernetes/subterra/apps/storage/truenas-csi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra, cluster/berries

feat(subterra): deploy kopiur backup controller
  kubernetes/subterra/apps/apps/vaultwarden/ks.yaml
  kubernetes/subterra/apps/backup/kopiur/app/helmrelease.yaml
  kubernetes/subterra/apps/backup/kopiur/app/kustomization.yaml
  kubernetes/subterra/apps/backup/kopiur/app/ocirepository.yaml
  kubernetes/subterra/apps/backup/kopiur/ks.yaml
  kubernetes/subterra/apps/backup/kopiur/repository/clusterrepository.yaml
  kubernetes/subterra/apps/backup/kopiur/repository/externalsecret.yaml
  kubernetes/subterra/apps/backup/kopiur/repository/kustomization.yaml
  kubernetes/subterra/apps/backup/kustomization.yaml
  kubernetes/subterra/apps/storage/truenas-csi/app/helmrelease.yaml
  kubernetes/subterra/components/kopiur/backup/kustomization.yaml
  kubernetes/subterra/components/kopiur/backup/snapshotpolicy.yaml
  kubernetes/subterra/components/kopiur/backup/snapshotschedule.yaml
Labels: area/kubernetes, cluster/subterra

fix(subterra): namespace kopiur app policies
  kubernetes/subterra/apps/apps/vaultwarden/ks.yaml
  kubernetes/subterra/components/kopiur/backup/snapshotpolicy.yaml
  kubernetes/subterra/components/kopiur/backup/snapshotschedule.yaml
Labels: area/kubernetes, cluster/subterra

fix(subterra): project kopiur repository credentials
  kubernetes/subterra/components/kopiur/backup/snapshotpolicy.yaml
Labels: area/kubernetes, cluster/subterra

feat(subterra): enable kopiur credential projection
  kubernetes/subterra/apps/backup/kopiur/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix(subterra): match kopiur mover ownership
  kubernetes/subterra/apps/apps/vaultwarden/ks.yaml
  kubernetes/subterra/components/kopiur/backup/snapshotpolicy.yaml
Labels: area/kubernetes, cluster/subterra

feat(subterra): allow privileged kopiur movers in apps
  kubernetes/subterra/apps/apps/namespace.yaml
Labels: area/kubernetes, cluster/subterra

fix(subterra): retain kopiur repository group access
  kubernetes/subterra/apps/apps/vaultwarden/ks.yaml
  kubernetes/subterra/components/kopiur/backup/snapshotpolicy.yaml
Labels: area/kubernetes, cluster/subterra

fix(subterra): scope vaultwarden backup read capability
  kubernetes/subterra/apps/apps/vaultwarden/ks.yaml
Labels: area/kubernetes, cluster/subterra

fix(subterra): use nas maproot for vaultwarden backup
  kubernetes/subterra/apps/apps/vaultwarden/ks.yaml
Labels: area/kubernetes, cluster/subterra

fix(subterra): align wordpress pvc storage class
  kubernetes/subterra/apps/www/wp-dachia/app/pvc.yaml
Labels: area/kubernetes, cluster/subterra

fix: berries cluster
  kubernetes/berries/apps/backup/kustomization.yaml
  kubernetes/berries/apps/backup/rclone/ks.yaml
  kubernetes/berries/apps/backup/volsync/app/helmrelease.yaml
  kubernetes/berries/apps/backup/volsync/app/kustomization.yaml
  kubernetes/berries/apps/backup/volsync/app/prometheusrule.yaml
  kubernetes/berries/apps/backup/volsync/ks.yaml
  kubernetes/berries/apps/monitoring/alertmanager/app/pvc.yaml
  kubernetes/berries/apps/monitoring/grafana/app/pvc.yaml
  kubernetes/berries/apps/monitoring/kube-prometheus-stack/app/pvc.yaml
  kubernetes/berries/apps/smarthome/esphome/app/pvc.yaml
  kubernetes/berries/apps/smarthome/frigate/app/pvc.yaml
  kubernetes/berries/apps/smarthome/homeassistant/app/pvc.yaml
  kubernetes/berries/apps/smarthome/node-red/app/pvc.yaml
  kubernetes/berries/apps/smarthome/zigbee2mqtt/app/pvc.yaml
  kubernetes/berries/flux/config/flux.yaml
Labels: area/kubernetes, cluster/berries

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/subterra:
  - changed-files:
      - any-glob-to-any-file: kubernetes/subterra/**/*
cluster/berries:
  - changed-files:
      - any-glob-to-any-file: kubernetes/berries/**/*
cluster/all:
  - changed-files:
      - any-glob-to-any-file: kubernetes/_global/**/*
