Repository mglants/gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/subterra, cluster/berries, cluster/all

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/subterra:
  - changed-files:
      - any-glob-to-any-file: kubernetes/subterra/**/*
cluster/berries:
  - changed-files:
      - any-glob-to-any-file: kubernetes/berries/**/*
cluster/all:
  - changed-files:
      - any-glob-to-any-file: kubernetes/_global/**/*

feat: change sops to externalsecret for vpn
  kubernetes/subterra/apps/networking/vpn-gateway/app/externalsecret.yaml
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
  kubernetes/subterra/apps/networking/vpn-gateway/app/kustomization.yaml
  kubernetes/subterra/apps/networking/vpn-gateway/app/secret.enc.yaml
Labels: area/kubernetes, cluster/subterra

fix: vpn
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: automerge digest
  .github/renovate/autoMerge.json5
Labels: area/ci

fix: groups
  .github/renovate/groups.json5
Labels: area/ci

fix: cilium
  kubernetes/berries/apps/kube-system/cilium/app/values.yaml
  kubernetes/subterra/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/subterra, cluster/berries

fix: cilium values
  kubernetes/berries/apps/kube-system/cilium/app/values.yaml
  kubernetes/subterra/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/subterra, cluster/berries

feat: fix bgp config
  kubernetes/berries/apps/kube-system/cilium/app/bgp.yaml
Labels: area/kubernetes, cluster/berries

fix: cilium bgp
  kubernetes/berries/apps/kube-system/cilium/app/bgp.yaml
Labels: area/kubernetes, cluster/berries

fix: bgp peering
  kubernetes/berries/apps/kube-system/cilium/app/bgp.yaml
Labels: area/kubernetes, cluster/berries

feat: fix cilium config
  kubernetes/subterra/apps/kube-system/cilium/app/bgp.yaml
Labels: area/kubernetes, cluster/subterra

feat: cilium upgrade
  kubernetes/subterra/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/subterra

fix: cilium vip
  kubernetes/subterra/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/subterra

fix: try to fix vpn-gateway
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: gluetun tag
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: vpn-gateway
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: try to fix vpn for pods
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: vxlan port for cilium
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: try iptables nft
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: iptables nft
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: rollback iptables nft
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: static vxlan
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: crds valus for coredns
  kubernetes/_global/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes, cluster/all

feat: try to fix gluetun filrewall
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: disable firewall
  kubernetes/subterra/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: deploy piped
  kubernetes/subterra/apps/media/kustomization.yaml
  kubernetes/subterra/apps/media/namespace.yaml
  kubernetes/subterra/apps/media/piped/app/externalsecret.yaml
  kubernetes/subterra/apps/media/piped/app/helmrelease.yaml
  kubernetes/subterra/apps/media/piped/app/kustomization.yaml
  kubernetes/subterra/apps/media/piped/app/postgresCluster.yaml
  kubernetes/subterra/apps/media/piped/ks.yaml
Labels: area/kubernetes, cluster/subterra

feat: update piped secret
  kubernetes/subterra/apps/media/piped/app/externalsecret.yaml
Labels: area/kubernetes, cluster/subterra

fix: externalsecret for piped
  kubernetes/subterra/apps/media/piped/app/externalsecret.yaml
Labels: area/kubernetes, cluster/subterra

feat: piped close to auth
  kubernetes/subterra/apps/media/piped/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: enable registration
  kubernetes/subterra/apps/media/piped/app/externalsecret.yaml
Labels: area/kubernetes, cluster/subterra

feat: added hash_proxy
  kubernetes/subterra/apps/media/piped/app/externalsecret.yaml
  kubernetes/subterra/apps/media/piped/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: secret
  kubernetes/subterra/apps/media/piped/app/externalsecret.yaml
  kubernetes/subterra/apps/media/piped/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: deploy teamspeak
  kubernetes/subterra/apps/apps/teamspeak/app/externalsecret.yaml
  kubernetes/subterra/apps/apps/teamspeak/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/teamspeak/app/kustomization.yaml
  kubernetes/subterra/apps/apps/teamspeak/app/pvc.yaml
  kubernetes/subterra/apps/apps/teamspeak/ks.yaml
Labels: area/kubernetes, cluster/subterra

feat: deploy teamspeak
  kubernetes/subterra/apps/apps/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

fix: kustomization path
  kubernetes/subterra/apps/apps/teamspeak/ks.yaml
Labels: area/kubernetes, cluster/subterra

fix: helm release
  kubernetes/subterra/apps/apps/teamspeak/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: sc for teamspeak
  kubernetes/subterra/apps/apps/teamspeak/app/pvc.yaml
Labels: area/kubernetes, cluster/subterra

feat: deploy synapse
  kubernetes/_global/flux/repositories/helm/ananace-charts.yaml
  kubernetes/_global/flux/repositories/helm/kustomization.yaml
  kubernetes/subterra/apps/matrix/kustomization.yaml
  kubernetes/subterra/apps/matrix/namespace.yaml
  kubernetes/subterra/apps/matrix/synapse/app/externalsecret.yaml
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
  kubernetes/subterra/apps/matrix/synapse/app/kustomization.yaml
  kubernetes/subterra/apps/matrix/synapse/app/postgresCluster.yaml
  kubernetes/subterra/apps/matrix/synapse/app/pvc.yaml
  kubernetes/subterra/apps/matrix/synapse/ks.yaml
Labels: area/kubernetes, cluster/subterra, cluster/all

fix: synapse database credentials
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: disalbe signing key for now
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: disable email for now
  kubernetes/subterra/apps/matrix/synapse/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra
