Repository mglants/gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/subterra, cluster/berries, cluster/all

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/subterra:
  - changed-files:
      - any-glob-to-any-file: kubernetes/subterra/**/*
cluster/berries:
  - changed-files:
      - any-glob-to-any-file: kubernetes/berries/**/*
cluster/all:
  - changed-files:
      - any-glob-to-any-file: kubernetes/_global/**/*

Update helmrelease.yaml
  kubernetes/subterra/apps/media/piped/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: try next driver
  kubernetes/berries/apps/democratic-csi/truenas-nfs-csi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/berries

feat: sold tesla =(
  kubernetes/.archive/teslamate/app/externalsecret.yaml
  kubernetes/.archive/teslamate/app/helmrelease.yaml
  kubernetes/.archive/teslamate/app/kustomization.yaml
  kubernetes/.archive/teslamate/ks.yaml
  kubernetes/berries/apps/smarthome/kustomization.yaml
Labels: area/kubernetes, cluster/berries

feat: lets try new panel
  kubernetes/subterra/apps/apps/kustomization.yaml
  kubernetes/subterra/apps/apps/remnawave/app/externalsecret.yaml
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/remnawave/app/kustomization.yaml
  kubernetes/subterra/apps/apps/remnawave/app/postgresCluster.yaml
  kubernetes/subterra/apps/apps/remnawave/ks.yaml
Labels: area/kubernetes, cluster/subterra

fix: image
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: env
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: envs
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: added new app ro remnwave
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: url
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: port
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: remawave
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: differet domain for panel
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: whitelist for panel
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: change panel
  kubernetes/subterra/apps/apps/pasarguard/app/kustomization.yaml
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: deploy bot
  kubernetes/subterra/apps/apps/remnawave/app/externalsecret.yaml
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/remnawave/app/postgresCluster.yaml
Labels: area/kubernetes, cluster/subterra

feat: disable probes for debug
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: disable backups
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: miniapp on separate domain
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: urls
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: disable miniapp
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: replace bot
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: add logs
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: values for bot
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: bot require password for redis
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: more args is unvalid
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: bot user for postgres
  kubernetes/subterra/apps/apps/remnawave/app/postgresCluster.yaml
Labels: area/kubernetes, cluster/subterra

feat: added pvc for bot
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/remnawave/app/kustomization.yaml
  kubernetes/subterra/apps/apps/remnawave/app/pvc.yaml
Labels: area/kubernetes, cluster/subterra

feat: update docker
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: host
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: sub link
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: set gw
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: mini app
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: add new runners to gh
  kubernetes/subterra/apps/dev/actions-runner-controller/runners/kustomization.yaml
  kubernetes/subterra/apps/dev/actions-runner-controller/runners/openwrt-custom.yaml
  kubernetes/subterra/apps/dev/actions-runner-controller/runners/openwrt-nikki.yaml
Labels: area/kubernetes, cluster/subterra

fix: helm releases
  kubernetes/subterra/apps/dev/actions-runner-controller/runners/openwrt-custom.yaml
  kubernetes/subterra/apps/dev/actions-runner-controller/runners/openwrt-nikki.yaml
Labels: area/kubernetes, cluster/subterra

fix: arcset
  kubernetes/subterra/apps/dev/actions-runner-controller/runners/openwrt-custom.yaml
  kubernetes/subterra/apps/dev/actions-runner-controller/runners/openwrt-nikki.yaml
Labels: area/kubernetes, cluster/subterra

feat: deploy spegel globally, update for binfmt
  kubernetes/_global/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/_global/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/subterra/apps/kube-system/kustomization.yaml
  kubernetes/subterra/apps/kube-system/spegel/ks.yaml
  kubernetes/subterra/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/subterra, cluster/all

fix: namespace
  kubernetes/berries/apps/kube-system/spegel/ks.yaml
  kubernetes/subterra/apps/kube-system/spegel/ks.yaml
Labels: area/kubernetes, cluster/subterra, cluster/berries

feat: need some more pods
  kubernetes/subterra/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/subterra

fix: arc runners app
  kubernetes/subterra/apps/dev/actions-runner-controller/runners/openwrt-custom.yaml
  kubernetes/subterra/apps/dev/actions-runner-controller/runners/openwrt-nikki.yaml
Labels: area/kubernetes, cluster/subterra

feat: max runners
  kubernetes/subterra/apps/dev/actions-runner-controller/runners/openwrt-nikki.yaml
Labels: area/kubernetes, cluster/subterra
