Repository mglants/gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/subterra, cluster/berries, cluster/all

fix: added namesapce
  kubernetes/subterra/apps/database/dragonfly-operator/ks.yaml
Labels: area/kubernetes, cluster/subterra

fix: stale patch
  kubernetes/subterra/flux/config/flux.yaml
Labels: area/kubernetes, cluster/subterra

feat: disable grafana for now
  kubernetes/subterra/apps/database/dragonfly-operator/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: update to 0.8.2
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: added statuspage
  kubernetes/subterra/apps/apps/remnawave/app/externalsecret.yaml
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/remnawave/app/postgresCluster.yaml
Labels: area/kubernetes, cluster/subterra

fix: statuspage port
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: try sqlite
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: added new pvc
  kubernetes/subterra/apps/apps/remnawave/app/pvc.yaml
Labels: area/kubernetes, cluster/subterra

feat: pvc for statuspage
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: update remnawave
  kubernetes/subterra/apps/apps/remnawave/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: remove gitea
  kubernetes/subterra/apps/apps/gitea/app/externalsecret.yaml
  kubernetes/subterra/apps/apps/gitea/app/helmrelease.yaml
  kubernetes/subterra/apps/apps/gitea/app/kustomization.yaml
  kubernetes/subterra/apps/apps/gitea/app/postgresCluster.yaml
  kubernetes/subterra/apps/apps/gitea/app/pvc.yaml
  kubernetes/subterra/apps/apps/gitea/app/volsync.yaml
  kubernetes/subterra/apps/apps/gitea/ks.yaml
  kubernetes/subterra/apps/apps/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

feat: remove mikrotik
  kubernetes/berries/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/berries

feat: remove blocky
  kubernetes/berries/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/berries

fix: ignore archive
  .github/renovate.json5
Labels: area/ci

feat: remove teslamate
  kubernetes/.archive/teslamate/app/externalsecret.yaml
  kubernetes/.archive/teslamate/app/helmrelease.yaml
  kubernetes/.archive/teslamate/app/kustomization.yaml
  kubernetes/.archive/teslamate/ks.yaml
Labels: area/kubernetes

feat: remove blocky dashboard
  kubernetes/subterra/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: deploy forgejo
  kubernetes/components/dragonfly/cluster.yaml
  kubernetes/components/dragonfly/kustomization.yaml
  kubernetes/components/dragonfly/podmonitor.yaml
  kubernetes/subterra/apps/dev/forgejo/app/externalsecret.yaml
  kubernetes/subterra/apps/dev/forgejo/app/helmrelease.yaml
  kubernetes/subterra/apps/dev/forgejo/app/kustomization.yaml
  kubernetes/subterra/apps/dev/forgejo/app/ocirepository.yaml
  kubernetes/subterra/apps/dev/forgejo/app/pvc.yaml
  kubernetes/subterra/apps/dev/forgejo/ks.yaml
  kubernetes/subterra/apps/dev/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

fix: ks yaml
  kubernetes/subterra/apps/dev/forgejo/ks.yaml
Labels: area/kubernetes, cluster/subterra

fix: components directory
  kubernetes/subterra/apps/dev/forgejo/ks.yaml
Labels: area/kubernetes, cluster/subterra

fix: pvc
  kubernetes/subterra/apps/dev/forgejo/app/pvc.yaml
Labels: area/kubernetes, cluster/subterra

feat: remove uptime kuma
  kubernetes/subterra/apps/monitoring/kustomization.yaml
  kubernetes/subterra/apps/monitoring/uptime-kuma/app/helmrelease.yaml
  kubernetes/subterra/apps/monitoring/uptime-kuma/app/kustomization.yaml
  kubernetes/subterra/apps/monitoring/uptime-kuma/app/pvc.yaml
  kubernetes/subterra/apps/monitoring/uptime-kuma/app/volsync.yaml
  kubernetes/subterra/apps/monitoring/uptime-kuma/ks.yaml
Labels: area/kubernetes, cluster/subterra

feat: update git ingress
  kubernetes/subterra/apps/dev/forgejo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: add runner to forgejo
  kubernetes/subterra/apps/dev/forgejo/ks.yaml
  kubernetes/subterra/apps/dev/forgejo/runner/externalsecret.yaml
  kubernetes/subterra/apps/dev/forgejo/runner/helmrelease.yaml
  kubernetes/subterra/apps/dev/forgejo/runner/kustomization.yaml
  kubernetes/subterra/apps/dev/forgejo/runner/ocirepository.yaml
Labels: area/kubernetes, cluster/subterra

feat: deploy envoy-gateway
  kubernetes/subterra/apps/networking/envoy-gateway/app/helmrelease.yaml
  kubernetes/subterra/apps/networking/envoy-gateway/app/kustomization.yaml
  kubernetes/subterra/apps/networking/envoy-gateway/app/ocirepository.yaml
  kubernetes/subterra/apps/networking/envoy-gateway/gateway/certificates.yaml
  kubernetes/subterra/apps/networking/envoy-gateway/gateway/envoy.yaml
  kubernetes/subterra/apps/networking/envoy-gateway/gateway/external.yaml
  kubernetes/subterra/apps/networking/envoy-gateway/gateway/https-redirect.yaml
  kubernetes/subterra/apps/networking/envoy-gateway/gateway/internal.yaml
  kubernetes/subterra/apps/networking/envoy-gateway/gateway/kustomization.yaml
  kubernetes/subterra/apps/networking/envoy-gateway/gateway/podmonitor.yaml
  kubernetes/subterra/apps/networking/envoy-gateway/gateway/resources/block-user-agents.lua
  kubernetes/subterra/apps/networking/envoy-gateway/ks.yaml
  kubernetes/subterra/apps/networking/externaldns/external/helmrelease.yaml
  kubernetes/subterra/apps/networking/externaldns/internal/helmrelease.yaml
  kubernetes/subterra/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/subterra

fix: target repo
  kubernetes/subterra/apps/networking/envoy-gateway/ks.yaml
Labels: area/kubernetes, cluster/subterra

fix: update namespace for envoy-gateway and its dependency
  kubernetes/subterra/apps/networking/envoy-gateway/ks.yaml
Labels: area/kubernetes, cluster/subterra

fix: remove restore for now
  kubernetes/subterra/apps/apps/windmill/app/postgresCluster.yaml
Labels: area/kubernetes, cluster/subterra

fix: update iscsiDirHostPath to reflect Talos iscsi-tools configuration
  kubernetes/subterra/apps/democratic-csi/truenas-icssi-csi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

fix: externaldns needs more more memory
  kubernetes/subterra/apps/networking/externaldns/external/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

feat: update talos and kubernetes to latest versions
  kubernetes/subterra/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/subterra

feat: remove vsphere
  custom/vsphere/sidero/cp.patch.yaml
  custom/vsphere/sidero/vsphere.sh
  custom/vsphere/vmware/vsphere.sh
Labels: none

fix: file naming
  kubernetes/subterra/apps/networking/envoy-gateway/gateway/certificate.yaml
Labels: area/kubernetes, cluster/subterra

fix: cilium patch
  kubernetes/berries/apps/kube-system/cilium/app/bootstrap/kustomization.yaml
  kubernetes/berries/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/berries

subterra: remove volsync operator
  kubernetes/subterra/apps/backup/kustomization.yaml
  kubernetes/subterra/apps/backup/volsync/app/helmrelease.yaml
  kubernetes/subterra/apps/backup/volsync/app/kustomization.yaml
  kubernetes/subterra/apps/backup/volsync/app/prometheusrule.yaml
  kubernetes/subterra/apps/backup/volsync/ks.yaml
Labels: area/kubernetes, cluster/subterra

fix(postgres): stagger pgBackRest backup schedules
  kubernetes/subterra/apps/apps/netbox/app/postgresCluster.yaml
  kubernetes/subterra/apps/apps/nextcloud/app/postgresCluster.yaml
  kubernetes/subterra/apps/apps/remnawave/app/postgresCluster.yaml
  kubernetes/subterra/apps/apps/spliit/app/postgresCluster.yaml
  kubernetes/subterra/apps/apps/vaultwarden/app/postgresCluster.yaml
  kubernetes/subterra/apps/apps/windmill/app/postgresCluster.yaml
  kubernetes/subterra/apps/infra/authentik/app/postgresCluster.yaml
  kubernetes/subterra/apps/matrix/synapse/app/postgresCluster.yaml
  kubernetes/subterra/apps/media/piped/app/postgresCluster.yaml
  kubernetes/subterra/apps/smarthome/homeassistant/app/postgresCluster.yaml
Labels: area/kubernetes, cluster/subterra

feat(storage): deploy official TrueNAS CSI driver
  kubernetes/_global/flux/repositories/helm/kustomization.yaml
  kubernetes/_global/flux/repositories/helm/truenas-csi-charts.yaml
  kubernetes/subterra/apps/truenas-csi/app/externalsecret.yaml
  kubernetes/subterra/apps/truenas-csi/app/helmrelease.yaml
  kubernetes/subterra/apps/truenas-csi/app/kustomization.yaml
  kubernetes/subterra/apps/truenas-csi/ks.yaml
  kubernetes/subterra/apps/truenas-csi/kustomization.yaml
  kubernetes/subterra/apps/truenas-csi/namespace.yaml
Labels: area/kubernetes, cluster/subterra, cluster/all

refactor(storage): align CSI directory with namespace
  kubernetes/subterra/apps/storage/app/externalsecret.yaml
  kubernetes/subterra/apps/storage/app/helmrelease.yaml
  kubernetes/subterra/apps/storage/app/kustomization.yaml
  kubernetes/subterra/apps/storage/ks.yaml
  kubernetes/subterra/apps/storage/kustomization.yaml
  kubernetes/subterra/apps/storage/namespace.yaml
Labels: area/kubernetes, cluster/subterra

refactor(storage): nest TrueNAS CSI application
  kubernetes/subterra/apps/storage/kustomization.yaml
  kubernetes/subterra/apps/storage/truenas-csi/app/externalsecret.yaml
  kubernetes/subterra/apps/storage/truenas-csi/app/helmrelease.yaml
  kubernetes/subterra/apps/storage/truenas-csi/app/kustomization.yaml
  kubernetes/subterra/apps/storage/truenas-csi/ks.yaml
Labels: area/kubernetes, cluster/subterra

fix(storage): allow privileged CSI node plugin
  kubernetes/subterra/apps/storage/namespace.yaml
Labels: area/kubernetes, cluster/subterra

fix(storage): support TrueNAS CSI on Talos
  kubernetes/subterra/apps/storage/truenas-csi/app/helmrelease.yaml
Labels: area/kubernetes, cluster/subterra

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/subterra:
  - changed-files:
      - any-glob-to-any-file: kubernetes/subterra/**/*
cluster/berries:
  - changed-files:
      - any-glob-to-any-file: kubernetes/berries/**/*
cluster/all:
  - changed-files:
      - any-glob-to-any-file: kubernetes/_global/**/*
